<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
	<title>TED | To upgrade is human&hellip;</title>
	<meta name=viewport content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/global.css">
</head>
<body>

<div class="t">
	<div class="t__c">
		<div class="Notice">
			<img class="Notice__image" src="/assets/standard.svg">

			<h1>Under Maintenance</h1>

			<p>Sorry, TED is temporarily offline for maintenance.</p>
			<p>Please try again in a few minutes!</p>
		</div>
	</div>
</div>

{{> ga}}
<script>ga('send', 'event', 'error', 'maintenance', location.hostname + location.pathname)</script>
</body>
</html>